@model coreHotelRoomBookingAdminPortal.Models.Hotel
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete</h2>


<h3>Are you sure you want to delete this ?</h3>
@*<form asp-action="Delete" asp-controller="Hotel">
        <label asp-for="HotelId"></label>
        <input type="text" asp-for="HotelId" />
        <br />
        <label asp-for="HotelName"></label>
        <input type="text" asp-for="HotelName" />
        <br />
        <label asp-for="HotelTypeId"></label>
        <select asp-for="HotelTypeId" asp-items="ViewBag.HotelTypes"></select>
        <br />
        <input type="submit" value="Delete Hotel" class="btn btn-primary"/>
        @Html.ActionLink("Back to List", "Index")
    </form>*@

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HotelId)
        </th>
        <td>
            @Html.DisplayFor(model => model.HotelId)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HotelName)
        </th>
        <td>
            @Html.DisplayFor(model => model.HotelName)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HotelAddress)
        </th>
        <td>
            @Html.DisplayFor(model => model.HotelAddress)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HotelCountry)
        </th>
        <td>
            @Html.DisplayFor(model => model.HotelCountry)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HotelDescription)
        </th>
        <td>
            @Html.DisplayFor(model => model.HotelDescription)
        </td>
    </tr>
</table>

@using (Html.BeginForm("Delete", "Hotel", FormMethod.Post))
{
    <p>
        <input class="btn btn-primary" type="submit" value="Delete" />
        <br />
        <br />
        <a asp-controller="Hotel" asp-action="Index" class="btn btn-primary">Back to List</a>
    </p>
}