
@{
    ViewData["Title"] = "Details1";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}



<h2><strong class="card-title">@ViewBag.HotelRoom.RoomType</strong></h2>
<br />
<div class="card mb-3" style="max-width: 800px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="@ViewBag.HotelRoom.RoomImage" class="card-img" alt="Room Image">
        </div>
        <div class="col-md-8">
            <div class="card-body">

                <p class="card-text">
                    <table class="table table-hover table table-bordered">
                        <tr>
                            <th>
                                Room Price
                            </th>
                            <td>
                                @ViewBag.HotelRoom.RoomPrice
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Room Description
                            </th>
                            <td>
                                @ViewBag.HotelRoom.RoomDescription
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Hotel Name
                            </th>
                            <td>
                                @ViewBag.Hotel.HotelName
                            </td>
                        </tr>

                        <tr>
                            <th>
                                Room Facilities
                            </th>
                            <th>
                                Availability   :@ViewBag.RoomFacility.IsAvailable
                                <br />
                                Wifi           :@ViewBag.RoomFacility.Wifi
                                <br />
                                AirConditioner :@ViewBag.RoomFacility.AirConditioner
                                <br />
                                Refrigerator   :@ViewBag.RoomFacility.Refrigerator
                            </th>
                        </tr>
                    </table>
                </p>
            </div>
        </div>
    </div>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back to Home</a>
    <br />
    <a asp-controller="Book" asp-action="Buy" class="btn btn-primary">Add to Cart</a>
</div>